body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff9f0;
    margin: 20px;
    padding: 0;
    color:#333

}
h1{
    text-align: center;
    color: #8829e7;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
form input,form button{
    padding: 10px;
    font-size: 1em;
}
form button{
    background-color: #9437f1;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(112, 38, 216);
}
#busca {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 60%;
    font-size: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;

}
thead {
    background-color: rgb(201, 130, 237);
}
th, td{
    padding: 10px ;
    border: 2px solid;
    text-align: center;
}

button.acao{
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;

}
button.adicionar{
    background-color: #17e21e;

}
button.remover{
    background-color: #f44336;
    
}